:root {
  --background-color-primary: #1d1d20;
  --background-color-secondary: rgb(40, 39, 39);
  --btn-primary-color: rgba(255,255,255,.5);
  --btn-primary-border-color: rgba(255,255,255,.5);
  --btn-primary-hover-color: white;
  --btn-secondary-color: white;
  --btn-secondary-bg: #8c68cd;
  --btn-secondary-border-color: #8c68cd;
  --btn-secondary-hover-color: #826bad;
  --link-color: #0dcaf0;
  --link-hover-color: #2f6ecc;
  --link-project-color: rgb(255, 193, 7);
  --link-project-hover-color: #997a1f;
  --highlight-color: #8c68cd;
}

body {
  background-color: var(--background-color-primary);
}

.secondary-color {
  background-color: var(--background-color-secondary);
}

.btn-custom {
  color: var(--btn-primary-color);
  transition: 0.9s;
}

.btn-custom:hover {
  color: var(--btn-primary-hover-color);
}

.btn-bd-primary {
  --bs-btn-color: var(--btn-primary-color);
  --bs-btn-border-color: var(--btn-primary-border-color);
  --bs-btn-hover-color: var(--btn-primary-hover-color);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.btn-bd-secondary {
  --bs-btn-color: var(--btn-secondary-color);
  --bs-btn-bg: var(--btn-secondary-bg);
  --bs-btn-border-color: var(--btn-secondary-border-color);
  --bs-btn-hover-color: var(--btn-secondary-hover-color);
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.project-link {
  color: var(--link-project-color) !important;
  transition: 0.9s !important;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.arrow-scroll-down {
  animation-name: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.devIcons-fade-in {
  font-size: 45px;
  transition: font-size 0.3s ease-in-out;
}

.fdevIcons-fade-in.active {
  font-size: 45px;
}

.devIcons-fade-out {
  font-size: 25px;
  transition: font-size 0.3s ease-in-out;
}

.devIcons-fade-out.active {
  font-size: 25px;
}

.project-link:hover {
  color: var(--link-project-hover-color) !important;
}

.link {
  color: var(--link-color);
  transition: 0.9s;
}

.link:hover {
  color: var(--link-hover-color);
}

@media only screen and (min-width: 1000px) {
  .vertically-centered {
    transform: translateY(100%);
  }
}

@media only screen and (max-width: 1000px) {
  .vertically-centered {
    transform: translateY(10%);
  }
}


.purple {
  color: var(--highlight-color);
}

.border-desc {
  border-color: #8c68cd;
  border-style: solid;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-radius: 5px;
}

.border-projects {
  border-color: #8c68cd;
  border-style: solid;
  border-top: 1;
  border-bottom: 0;
  border-right: 0;
  border-left: 1;
  border-radius: 5px;
}

@font-face {
  font-family: CenturyGothic;
  src: url(./Components/Fonts/CenturyGothic.ttf);
}

h1, h2, h3, h4, h5, p, a {
  font-family: CenturyGothic;
}

.transparent {
  background-color: transparent!important;
}

footer {
  position: relative;
  padding-bottom: 5px;
  bottom: 0;
}