body {
  background-color: #1d1d20;
}

.btn-custom {
  color: rgba(255,255,255,.5);
  transition: 0.9s;
}

.btn-custom:hover {
  color: white;
}

.btn-bd-primary {
  --bs-btn-color: rgba(255,255,255,.5);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.project-link {
  color: rgb(255, 193, 7) !important;
  transition: 0.9s !important;
}

.project-link:hover {
  color: #997a1f !important;
}

.link {
  color: #0dcaf0;
  transition: 0.9s;
}

.link:hover {
  color: #2f6ecc;
}

@media only screen and (min-width: 1000px) {
  .vertically-centered {
    transform: translateY(100%);
  }
}

@media only screen and (max-width: 1000px) {
  .vertically-centered {
    transform: translateY(10%);
  }
}


.purple {
  color: #8c68cd;
}

.border-desc {
  border-color: #8c68cd;
  border-style: solid;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-radius: 5px;
}

.border-projects {
  border-color: #8c68cd;
  border-style: solid;
  border-top: 1;
  border-bottom: 0;
  border-right: 0;
  border-left: 1;
  border-radius: 5px;
}

@font-face {
  font-family: CenturyGothic;
  src: url(./Components/Fonts/CenturyGothic.ttf);
}

h1, h2, h3, h4, h5, p, a {
  font-family: CenturyGothic;
}

.transparent {
  background-color: transparent!important;
}

footer {
  position: relative;
  padding-bottom: 5px;
  bottom: 0;
}